*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
runConfigurations.xml
ic_launcher.png
gradlew*
/.idea
/app/src/test
/gradle/wrapper
/app/src/androidTest

